.App {
  text-align: center;
  display: flex;
  max-width: 75vw;
  margin: auto;
  align-items: center;
  height: 100vh;
  background: #C23F3F;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 4%;
  margin-bottom: 25px;
  max-height:800px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 650px;
  justify-content: space-evenly;
  background: #CBCBCB;
  overflow-y: scroll;
  max-height: 700px;
}

.pic-holder {    
  height: 250px;
  flex-basis: 35%;
  width: 300px;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  background: white;
  border-radius: 5px;
  margin: 15px;
  display: flex;
  align-content: center;
}

img {
  max-width: auto;
  height: 100%;
}

.poke-pic img {
  max-width: 200px;
  height: auto;
}