.App {
  text-align: center;
  display: flex;
  max-width: 75vw;
  margin: auto;
  align-items: center;
  height: 100vh;
  background: #C23F3F;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 4%;
  margin-bottom: 25px;
  max-height:800px;
  border: solid 2px black;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.55);
  -moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.55);
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.55);
  position: relative;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

h2 {
  text-transform: capitalize;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 666px;
  justify-content: space-evenly;
  background: #CBCBCB;
  overflow-y: scroll;
  max-height: 80%;
  border: solid 2px black;
  border-radius: 10px;
}


.cards-container::-webkit-scrollbar {
  width: 16px;
  margin-top:100px;
  overflow: hidden;
  z-index: -999;
}

.cards-container::-webkit-scrollbar-track {
  background: #CBCBCB;
  width: 16px;
  border-radius: 0 20px 20px 0;
  overflow: hidden;
  z-index: -999;
}
 
.cards-container::-webkit-scrollbar-thumb {
  background: #30A7D7; 
  width: 15px;
  overflow: hidden;
  z-index: -999;
}

.pic-holder {    
  height: 250px;
  flex-basis: 35%;
  width: 300px;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  background: white;
  border-radius: 5px;
  margin: 15px;
  display: flex;
  align-content: center;
}

.pic-holder img {
  cursor: pointer;
}

img {
  max-width: auto;
  height: 100%;
  image-rendering: pixelated;
}

.poke-pic img {
  max-width: 200px;
  height: auto;
}

canvas {
  display: block;
  background: #30A7D7;
  width: 100%;
  height: auto;
}

.pokeStats-container {
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  margin-left: 5%;
  justify-content: space-between;
}

.basic-info,
.poke-pic {
  flex-basis: 45%;
  border-radius: 10px;
  border: solid 2px black;
}

.base-stats {
  flex-basis: 100%;
  border-radius: 10px;
  overflow: hidden;
  border: solid 2px black;
}

.poke-pic {
  background: #CBCBCB;
  margin-bottom: 10%;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.basic-info {
  background: #30A7D7;
  margin-bottom: 10%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right:10px;
}

@media screen and (max-width: 1550px) {
  .pokeStats-container {
    justify-content: center;
    max-height: 95%;
  }

  .poke-pic,
  .basic-info {
    flex-basis: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .cards-container {
    max-height: 95%;
  }
  
  .basic-info,
  .poke-pic {
    margin-bottom: 5%;
  }

  .basic-info {
    padding: 25px;
  }

  h2 {
    text-transform: capitalize;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

@media screen and (max-width: 1472px) {

}

@media screen and (max-width: 767px) {

  .pic-holder img {
    cursor: pointer;
    max-width: 100%;
    height: auto;
  }

  .pokeStats-container {
    display: none;
  }

  .pic-holder {
    height: 75%;
    flex-basis: 75%;
  }
}